<div class="row detalle-poliza">
    <div class="col-md-12">

        <div class="form-group prototype-poliza" 
             data-prototype="{% filter escape %}{% include 'ADIFContableBundle:Facturacion/Contrato:prototype.poliza.html.twig' with {'polizaSeguro': form.polizasSeguro.vars.prototype} %}{% endfilter %}">
            {% for polizaSeguro in form.polizasSeguro%}
                {% include 'ADIFContableBundle:Facturacion/Contrato:prototype.poliza.html.twig' %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-sm blue
                   prototype-link-add-poliza tooltips">
                    Agregar p&oacute;liza <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>