{% extends '::base.html.twig' %}  

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Categor&iacute;as de obra</div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-sm green tooltips" data-placement="right" 
                               data-original-title="Crear categor&iacute;a de obra" 
                               href=" {{ path( 'categoriaobra_new') }} ">
                                Crear categor&iacute;a de obra <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <table 
                        class="table table-bordered table-striped table-condensed 
                        flip-content dt-multiselect export-excel" 
                        id="table-obras_categoriaobra" dataexport-title="categorias_obra">
                        <thead>
                            <tr class="replace-inputs filter">
                                <th></th>
                                <th class="not-in-filter"></th>
                                <th>Denominaci&oacute;n</th>
                                <th class="not-in-filter"></th>
                            </tr>
                            <tr class="headers">
                                <th class="no-order entity_id"></th>
                                <th class="text-center table-checkbox no-order">
                                    <input type="checkbox" class="group-checkable" data-set="#table-obras_categoriaobra .checkboxes" />
                                </th>
                                <th>Denominaci&oacute;n</th>
                                <th class="text-center no-order ctn_acciones">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/custom/contable/obras/categoriaobra/index.js') }}" ></script>
{% endblock %}
