{% extends '::base.html.twig' %}  

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">P&oacute;lizas</div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar"></div>
                    <table 
                        class="table table-bordered table-striped table-condensed 
                        flip-content dt-multiselect export-pdf export-excel" 
                        id="table-facturacion_polizaseguro" dataexport-title="poliza">
                        <thead>
                            <tr class="replace-inputs filter">
                                <th></th>
                                <th class="not-in-filter"></th>
                                <th>N&deg; contrato</th>
                                <th>Cliente</th>
                                <th>N&deg; p&oacute;liza</th>
                                <th>Empresa aseguradora</th>
                                <th data-type="date">Fecha de vencimiento</th>
                                <th>Riesgo cubierto</th>
                                <th>N&deg; de tr&aacute;mite</th>
                            </tr>
                            <tr class="headers">
                                <th class="no-order entity_id"></th>
                                <th class="text-center table-checkbox no-order">
                                    <input type="checkbox" class="group-checkable" data-set="#table-facturacion\polizaseguro .checkboxes" />
                                </th>
                                <th class="nowrap">N&deg; contrato</th>
                                <th>Cliente</th>
                                <th class="nowrap">N&deg; p&oacute;liza</th>
                                <th class="nowrap">Empresa aseguradora</th>
                                <th date export-format="date" class="nowrap">Fecha de vencimiento</th>
                                <th class="nowrap">Riesgo cubierto</th>
                                <th class="nowrap">N&deg; de tr&aacute;mite</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/custom/contable/facturacion/polizasegurocontrato/index.js') }}" ></script>

{% endblock %}
