
<h5>Datos del beneficiario</h5>

<table class="w-100 m-top" border="1" >
    <tr>
        <td style="vertical-align: top;">
            <table class="w-100 t-left" border="0" style="line-height: 80%;">
                <tbody>
                    <tr>
                        <td class="f-12" colspan="1">Raz&oacute;n social:</td>
                        <td colspan="3" class="bold f-12">{{ razonSocial  }}</td>
                    </tr>
                    <tr>
                        <td class="f-12" colspan="1">Concepto:</td>
                        <td colspan="3" class="bold f-12">{{ concepto }}</td>
                    </tr>
                    <tr>
                        <td class="f-12" colspan="1">Beneficiario:</td>
                        <td colspan="3" class="bold f-12">{{ beneficiario  }}</td>
                    </tr>
                    <tr>
                        <td class="f-12" colspan="1">Origen:</td>
                        <td colspan="3" class="bold f-12">{{ origen }}</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
