
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green-seagreen">
            <div class="portlet-title">
                <div class="caption">
                    Retenciones concepto {{ entity.conceptoVersion }}
                </div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-condensed 
                       flip-content dt-multiselect table-empleados" 
                       id="table-empleados">
                    <thead>
                        <tr class="replace-inputs filter">
                            <th></th>
                            <th class="not-in-filter"></th>
                            <th>Empleado</th>
                            <th>Importe</th>
                        </tr>
                        <tr class="headers">
                            <th class="no-order entity_id"></th>
                            <th class="text-center table-checkbox no-order">
                                <input type="checkbox" class="group-checkable not-checkbox-transform" data-set="#table-empleados .checkboxes" />
                            </th>                            
                            <th>Empleado</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        {% for liquidacionEmpleadoConcepto in conceptos %}
                            <tr>
                                <td> {{ liquidacionEmpleadoConcepto.id }} </td>
                                <td class="text-center">
                                    <input type="checkbox" class="checkboxes" value="" />
                                </td>
                                <td class="nowrap">{{ liquidacionEmpleadoConcepto.liquidacionEmpleado.empleado }}</td>
                                <td class="nowrap">{{ liquidacionEmpleadoConcepto.monto }}</td>
                            </tr>
                        {% endfor %}                   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>