{# plantilla para generar el PDF #}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-0ord{text-align:right}
.tg .tg-negrita{text-align:right;font-weight:bold}
.tg .tg-s6z2{text-align:center}
.tg .negrita{font-weight:bold;text-align:center}
.tg .tg-otro1{font-weight:bold;text-align:left;vertical-align:text-top;border-right:hidden}
.tg .tg-otro2{font-weight:bold;text-align:right;vertical-align:text-top;}
.tg .tg-otro3{border-left:hidden}
.tg .tg-linea{border-top:hidden}
.tg .tg-linea2{font-weight:bold;border-right:hidden}
.tg .tg-linea3{text-align:right;font-weight:bold;border-right:hidden}
.tg .tg-e3zv{font-weight:bold}
.tg .tg-34fq{font-weight:bold;text-align:right}
.tg .tg-sinlinea {vertical-align:text-top;border-bottom:hidden}
</style>
<table class="tg" style="table-layout: fixed; width: 1093px">
<colgroup>
<col style="width: 100px">
<col style="width: 473px">
<col style="width: 260px">
<col style="width: 260px">
</colgroup>
  <tr>
    <th class="tg-s6z2 tg-e3zv" colspan="2"><img src="{{ asset('images/adifse.png') }}"><br><br>Administración de Infraestructura Ferroviaria S.E.<br></th>
    <th class="tg-otro1" rowspan="2">RECIBO N° 646464</th>
    <th class="tg-otro2" rowspan="2">ORIGINAL</th>
  </tr>
  <tr>
  </tr>
  <tr>
    <td class="tg-e3zv" rowspan="3">Cliente:<br>Domicilio<br>Localidad:<br>Cond. IVA:<br>CUIT:</td>
    <td class="tg-otro3" rowspan="3"><br>Municipalidad de Coronel Moldes<br>San Martin 65<br>(5847) - Coronel Moldes Córdoba<br>Exento<br>33-99910033-9</td>
    <td class="tg-linea" colspan="2"><b>Fecha de Emisión:</b> 11/09/2014</td>
  </tr>
  <tr>
    <td class="tg-linea" colspan="2">CUIT: 30-71069599-3<br>Ingresos Brutos: 901-278235-5<br>Inicio de Actividades: 09/2008</td>
  </tr>
  <tr>
    <td class="tg-s6z2 tg-linea" colspan="2">DOCUMENTO NO VALIDO COMO FACTURA</td>
  </tr>
  <tr>
    <td class="tg-031e" style="padding-left: 15px;" colspan="4"><b>Recibimos la suma de: Pesos seiscientos cinco</b><br>En Concepto de cancelación de los siguientes Comprobantes<br><b>Detalle:</b> cheque diferido n° 04420939</td>
  </tr>
  <tr>
    <td class="tg-linea2" style="padding-left: 15px;" colspan="2">Tipo Comprobante - Número - Fecha</td>
    <td class="tg-linea3">Moneda</td>
    <td class="tg-negrita">Importe</td>
  </tr>
</table>
<table class="tg" style="table-layout: fixed; width: 1094px">
<colgroup>
<col style="width: 573px">
<col style="width: 106px">
<col style="width: 212px">
</colgroup>
  <tr>
    <th class="tg-031e">Items con alto puesto<br><br><br><br><br></th>
    <th class="tg-031e"></th>
    <th class="tg-031e"></th>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-0ord">Total</td>
    <td class="tg-0ord">605,00</td>
  </tr>
  <tr>
    <td class="tg-031e" style="padding-left: 15px;" colspan="3">Valores recibidos (con padding)<br></td>
  </tr>
</table>
<table class="tg" style="table-layout: fixed; width: 1093px">
<colgroup>
<col style="width: 450px">
<col style="width: 123px">
<col style="width: 145px">
<col style="width: 145px">
<col style="width: 100px">
<col style="width: 130px">
</colgroup>
  <tr>
    <th class="tg-e3zv">Tipo</th>
    <th class="tg-hgcj">Numero</th>
    <th class="tg-hgcj">Banco</th>
    <th class="tg-hgcj">Cuenta</th>
    <th class="tg-hgcj">Vencimiento</th>
    <th class="tg-34fq">Importe</th>
  </tr>
  <tr>
    <td class="tg-031e">Dato1</td>
    <td class="tg-s6z2">44254</td>
    <td class="tg-s6z2">Nacion</td>
    <td class="tg-s6z2">434567711/09/2014</td>
    <td class="tg-s6z2">11/09/2014</td>
    <td class="tg-0ord">605,00</td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2"></td>
    <td class="tg-0ord">Total</td>
    <td class="tg-0ord">605,00</td>
  </tr>
  <tr>
      <td class="tg-s6z2" colspan="6"><div align="center">{{ barCode|raw }}</div><br>{{ numberCode }}<br></td>
  </tr>
</table>
<table class="tg" style="table-layout: fixed; width: 1094px">
<colgroup>
<col style="width: 88px">
<col style="width: 200px">
<col style="width: 70px">
<col style="width: 215px">
</colgroup>
  <tr>
    <th class="tg-031e"></th>
    <th class="tg-031e"></th>
    <th class="tg-sinlinea" style="height:150px;" colspan="2">Por Administracion de Infaestructura Ferroviarias S.E.<br></th>
  </tr>
  <tr>
    <td class="tg-031e" style="padding-left: 15px;">Controló:<br></td>
    <td class="tg-031e">___________________________</td>
    <td class="tg-031e" style="padding-left: 15px;">Firma Autorizada<br></td>
    <td class="tg-031e">___________________________</td>
  </tr>
  <tr>
    <td class="tg-031e" style="padding-left: 15px;">Aclaración:</td>
    <td class="tg-031e">___________________________</td>
    <td class="tg-031e" style="padding-left: 15px;">Aclaración</td>
    <td class="tg-031e">___________________________</td>
  </tr>
</table>
      </dynamic-page>
</pdf>