<div style="display: none;" id="renglones_conciliados_ctn">

    <div id="renglones_conciliados">
        <div class="form-body">
            <div class="row">    
                <div class="col-md-12">
                    <div class="export-tools">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-scrollable">
                        <table id="table_conciliacion_automatica" 
                               class="table table-bordered table-striped table-condensed table-hover export-custom"
                               dataexport-title="Conciliaci&oacute;n autom&aacute;tica">
                            <thead>
                                <tr class="headers">
                                    <th colspan="6">Extracto bancario</th>
                                    <th colspan="4">Movimiento contable</th>
                                </tr>
                                <tr class="headers">
                                    <th export-format="date" >Fecha</th>
                                    <th export-format="number" >Referencia</th>
                                    <th>Descripci&oacute;n</th>                    
                                    <th>Concepto</th>
                                    <th export-format="currency" >Debe</th>
                                    <th export-format="currency" >Haber</th>
                                    <th>Fecha</th>                    
                                    <th>Concepto</th>
                                    <th export-format="currency" >Debe</th>
                                    <th export-format="currency" >Haber</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
