<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Datos principales</legend>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <span class="bold">
                    {{ entity.cuenta.idBanco }} &nbsp;—&nbsp; {{ entity.cuenta.idTipoCuenta }} &nbsp;—&nbsp; {{ entity.cuenta.cbu }} 
                </span> 
            </div>                                    
        </div>
    </div>



</fieldset>
