<div class="portlet box blue-madison">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-navicon"></i>Movimientos contables
        </div>
        <div class="tools">
            <a class="collapse" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar clear">        
        </div>           
        <table class="table table-bordered table-striped table-condensed flip-content dt-multiselect export-excel" id="table-mayor" dataexport-title="mayor">
            <thead>
                <tr class="replace-inputs filter">
                    <th></th>
                    <th class="not-in-filter"></th>
                    <th>Fecha</th>                    
                    <th>Concepto</th>
                    <th class="hidden not-in-filter"></th>
                    <th class="hidden not-in-filter"></th>
                    <th>Debe</th>
                    <th>Haber</th>
                    <th>Saldo</th>
                    <th class="hidden not-in-filter"></th>
                    <th class="hidden not-in-filter"></th>
                    <th class="hidden not-in-filter"></th>
                </tr>
                <tr class="headers">
                    <th class="no-order entity_id"></th>
                    <th class="text-center table-checkbox no-order">
                        <input type="checkbox" class="group-checkable not-checkbox-transform" data-set="#table-mayor .checkboxes" />
                    </th>
                    <th date export-format="date" class="nowrap">Fecha</th>
                    <th>Concepto</th>
                    <th class="hidden"></th>
                    <th class="hidden"></th>
                    <th currency export-format="currency" >Debe</th>
                    <th export-format="currency" >Haber</th>
                    <th>Saldo</th>
                    <th class="hidden"></th>
                    <th class="hidden"></th>
                    <th class="hidden"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>