<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Ubicaci&oacute;n</legend>

    <div class="row">

      <div class="col-md-2">
          <div class="form-group">
              <label class="control-label">Latitud</label>
              <div class="detalle_show">{{ entity.latitud|default('-') }}</div>
          </div>
      </div>

      <div class="col-md-2">
          <div class="form-group">
              <label class="control-label">Longitud</label>
              <div class="detalle_show">{{ entity.longitud|default('-') }}</div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="form-group">
              <label class="control-label">Ubicaci&oacute;n</label>
              <div class="detalle_show">{{ entity.ubicacion|default('-') }}</div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="form-group">
              <label class="control-label">Provincia</label>
              <div class="detalle_show">{{ entity.provincia|default('-') }}</div>
          </div>
      </div>

    </div>

</fieldset>
