<div style="display: none;" id="renglones_conciliados_ctn">
    <div id="renglones_conciliados">
        <div class="form-body">

            <div class="row">     
                <div class="col-md-12">
                    <div class="export-tools">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-scrollable">
                        <table id="table_imputacion_automatica" 
                               class="table table-bordered table-striped table-condensed table-hover export-custom"
                               dataexport-title="Imputaci&oacute;n autom&aacute;tica">
                            <thead>
                                <tr class="headers">
                                    <th colspan="5" class="text-center">Movimientos registrados en el banco</th>
                                    <th colspan="4" class="text-center">Comprobantes pendientes de pago</th>
                                    <th rowspan="2" class="text-middle" export-format="currency" >Saldo final</th>                                    
                                    <th rowspan="2" class="text-middle" export-format="currency" >Anticipo</th>                                    
                                </tr>
                                <tr class="headers">
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center">Fecha</th>                                    
                                    <th class="text-center">C&oacute;digo</th>
                                    <th class="text-center" export-format="currency" >Monto</th>                    
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">N&uacute;mero</th>
                                    <th class="text-center">Cliente</th>
                                    <th class="text-center" export-format="currency" >Saldo</th>                                                        
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>