<div class="portlet box green-seagreen">
    <div class="portlet-title">
        <div class="caption">
            Cobranzas del banco aceptadas para imputar
        </div>
        <div class="tools">
            <a class="collapse" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar clear">  
            <div class="btn-group pull-left" id="actualizar-c-i">
                <a class="btn btn-sm green tooltips" data-placement="right" data-original-title="Actualizar listado" href="">
                    <i class="fa fa-refresh"></i>
                    Actualizar listado
                </a>
            </div>
            <div class="btn-group pull-right" id="cobranzas_pendientes" style="display:none">
                <a class="btn btn-sm purple accion-borrar tooltips" data-original-title="Enviarlo cobranzas pendientes" href="">
                    <i class="fa fa-list-alt"></i>
                    Enviar a cobranzas pendientes
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped table-condensed flip-content dt-multiselect export-excel" id="table-banco-a-imputar" dataexport-title="cobros_banco_a_imputar"
                           dataexport-title-alternativo="{{ 'Listado de Cobranzas Banco a Imputar (impreso el ' ~ "now"|date("d/m/Y") ~ ' a las ' ~ "now"|date("H:i:s") ~ ' hs.)' }}">
            <thead>
                <tr class="replace-inputs filter">
                    <th></th>
                    <th class="not-in-filter"></th>
                    <th>Fecha</th>                    
                    <th>N&uacute;mero</th>                    
                    <th>C&oacute;digo/Observaci&oacute;n</th>
                    <th>Monto</th>
                    <th class="not-in-filter hidden "></th>
                    <th class="not-in-filter hidden "></th>
                    <th class="not-in-filter hidden "></th>
                    <th class="not-in-filter hidden "></th>                     
                </tr>
                <tr class="headers">
                    <th class="no-order entity_id"></th>
                    <th class="text-center table-checkbox no-order">
                        <input type="checkbox" class="group-checkable not-checkbox-transform" data-set="#table-banco-a-imputar .checkboxes" />
                    </th>
                    <th date export-format="date" class="nowrap">Fecha</th>
                    <th>N&uacute;mero</th>                    
                    <th export-format="number" >C&oacute;digo/Observaci&oacute;n</th>
                    <th currency export-format="currency">Monto</th>     
                    <th class="hidden"></th>                     
                    <th class="hidden"></th>                     
                    <th class="hidden"></th>                     
                    <th class="hidden"></th>                   
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>