<div class="portlet box blue-madison">
    <div class="portlet-title">
        <div class="caption">
            Anticipos de cliente generados manualmente
        </div>
        <div class="tools">
            <a class="collapse" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body">   
        <div class="table-toolbar clear">           
            <div class="btn-group pull-left" id="actualizar-ant-man">
                <a class="btn btn-sm green tooltips" data-placement="right" data-original-title="Actualizar listado" href="">
                    <i class="fa fa-refresh"></i>
                    Actualizar listado
                </a>
            </div> 
            <div class="btn-group pull-right" id="deshacer" style="display:none">
                <a class="btn btn-sm red accion-borrar tooltips" data-original-title="Deshacer" href="">
                    <i class="fa fa-times"></i>
                    Deshacer
                </a>
            </div>            
        </div>         
        <table class="table table-bordered table-striped table-condensed flip-content dt-multiselect" id="table-anticipos-manuales">

            <thead>
                <tr class="replace-inputs filter">  
                    <th></th>
                    <th class="not-in-filter"></th>                     
{#                    <th>Cuenta bancaria</th>#}
                    <th>Fecha</th>
                    <th>Referencias</th>
                    <th>Cliente</th>
                    <th>Saldo</th>
                    <th class="not-in-filter hidden">id_cliente</th>
                    <th class="not-in-filter hidden">id_anticipo</th>

                </tr>
                <tr class="headers">
                    <th class="no-order entity_id"></th>
                    <th class="text-center table-checkbox no-order">
                        <input type="checkbox" class="group-checkable not-checkbox-transform" data-set="#table-anticipos-manuales .checkboxes" />
                    </th>                     
{#                    <th>Cuenta bancaria</th>#}
                    <th>Fecha</th>
                    <th>Referencias</th>
                    <th>Cliente</th>
                    <th>Saldo</th>
                    <th class="hidden">id_cliente</th>
                    <th class="hidden">id_anticipo</th>            
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>                