<div class="portlet box blue-madison">
    <div class="portlet-title">
        <div class="caption">
            Comprobantes con imputaciones realizadas
        </div>
        <div class="tools">
            <a class="collapse" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body">   
        <div class="table-toolbar clear">           
            <div class="btn-group pull-left" id="actualizar-comp-imp">
                <a class="btn btn-sm green tooltips" data-placement="right" data-original-title="Actualizar listado" href="">
                    <i class="fa fa-refresh"></i>
                    Actualizar listado
                </a>
            </div>        
        </div>       
        <table class="table table-bordered table-striped table-condensed flip-content dt-multiselect" id="table-comprobantes-con-imputaciones">
            <thead>
                <tr class="replace-inputs filter">
                    <th></th>
                    <th class="not-in-filter"></th>                  
                    <th>Cliente</th>
                    <th>Contrato</th>
                    <th>Fecha</th>                    
                    <th>Tipo</th>                    
                    <th>Numero</th>
                    <th>Referencia</th>
                    <th>Total</th>
                    <th class="not-in-filter hidden">Saldo</th>
                    <th class="not-in-filter hidden">Id Comprobante</th>

                </tr>
                <tr class="headers">
                    <th class="no-order entity_id"></th>
                    <th class="text-center table-checkbox no-order">
                        <input type="checkbox" class="group-checkable not-checkbox-transform" data-set="#table-comprobantes-con-imputaciones .checkboxes" />
                    </th>                    
                    <th>Cliente</th>
                    <th>Contrato</th>                 
                    <th date export-format="date" class="nowrap">Fecha</th>
                    <th>Tipo</th>                      
                    <th>Numero</th>
                    <th>Referencia</th>
                    <th>Total</th>
                    <th class="hidden">Saldo</th>                  
                    <th class="hidden">Id Comprobante</th>                    
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <input type="hidden" id="id_comprobante_con_imputaciones" value="" />
</div>