
<table class="w-100 m-top" border="0" >
    <tr>
        <td class="w-50" style="vertical-align: top;">
            <table class="w-100 t-left" border="0">
                <tbody>
                    <tr>
                        <td class="f-12">N&uacute;mero de autorizaci&oacute;n contable:</td>
                        <td class="f-12 bold">{{ op.numeroAutorizacionContable }}</td>
                    </tr>
                    <tr>
                        <td class="f-12">Fecha de autorizaci&oacute;n contable:</td>
                        <td class="f-12 bold">{{ op.fechaAutorizacionContable|date('d/m/Y') }}</td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="w-50">
            <table class="w-100" border="0">
                <tbody>
                    <tr>
                        <td>   
                            <div>
                                <td class="f-12 t-center w-50">
                                <hr>Autorizo</td>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
