
<div class="f-10">
    <label><input type="checkbox" value="1" checked="checked">Factura conformada</label>
</div>
<div class="f-10">
    <label><input type="checkbox" value="1" checked="checked">C&aacute;lculos verificados</label>
</div>
<div class="f-10">
    <label><input type="checkbox" value="1" checked="checked">Impuestos verificados</label>
</div>