
.MonthDatePicker .ui-datepicker-year {
    display:none;   
}
.HideTodayButton .ui-datepicker-buttonpane .ui-datepicker-current {
    visibility:hidden;
}

.hide-calendar .ui-datepicker-calendar {
    display:none!important;
    visibility:hidden!important
}

.reporte_title  {
    padding: .5em 0 0 0 !important;
    color: #000 !important
}

.caption-ejercicio,
.caption-fecha-desde {
    margin-right: .5em
}

tbody td {
    height: 20px
}