
<div class="cuenta_contable_search_form_content">

    <div class="input-group margin-top-10">
        <input type="search" id="search_field" class="form-control">
        <span id="search_tree" class="input-group-addon">
            <i class="fa fa-search"></i>
        </span>
    </div>

    <div id="cuenta_contable_tree" class="cuenta_contable_search_form margin-top-10" role="tree">
    </div>     
</div>