
<table 
    class="table table-bordered table-striped table-condensed flip-content dt-multiselect export-excel" 
    id="table-renglonespedidointerno" dataexport-title="renglonespedidointerno">
    <thead>
        <tr class="replace-inputs filter">
            <th></th>
            <th class="not-in-filter"></th>
            <th data-type="date">Fecha</th>
            <th>&Aacute;rea solicitante</th>
            <th>Usuario</th>
            <th>Rubro</th>
            <th>Bien econ&oacute;mico</th>
            <th>Descripci&oacute;n</th>
            <th>Solicitado</th>
            <th>Pendiente</th>
            <th>Unidad</th>
            <th>Prioridad</th>
            <th class="not-in-filter"></th>
        </tr>
        <tr class="headers">
            <th class="no-order entity_id"></th>
            <th class="text-center table-checkbox no-order">
                <input type="checkbox" class="group-checkable" data-set="#table-renglonespedidointerno .checkboxes" />
            </th>
            <th date class="nowrap">Fecha</th>
            <th>&Aacute;rea solicitante</th>
            <th class="nowrap">Usuario</th>
            <th>Rubro</th>
            <th>Bien econ&oacute;mico</th>
            <th>Descripci&oacute;n</th>
            <th numeric class="nowrap">Solicitado</th>
            <th numeric class="nowrap">Pendiente</th>
            <th class="nowrap">Unidad</th>
            <th class="nowrap">Prioridad</th>
            <th class="text-center no-order ctn_acciones">Acciones</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>