<div class="row">
    <div class="col-md-12">

        <div class="form-group prototype-archivos" 
             data-prototype="{% filter escape %}{% include 'ADIFContableBundle:Obras/DocumentoFinanciero:prototype.archivos.html.twig' with {'adjunto': form.archivos.vars.prototype} %}{% endfilter %}">
            {% for adjunto in form.archivos %}
                {% include 'ADIFContableBundle:Obras/DocumentoFinanciero:prototype.archivos.html.twig' %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-sm green-jungle 
                   prototype-link-add-archivo tooltips">
                    Agregar archivo <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
