
<div id="fontsize-controllers" class="fontsize-controllers group">
    <div class="btn-group">
        <a href="#" id="jfontsize-minus" class="rvfs-decrease btn">A-</a>
        <a href="#" id="jfontsize-default" class="rvfs-reset btn">A</a>
        <a href="#" id="jfontsize-plus" class="rvfs-increase btn">A+</a>
    </div>
</div>