
tr.disabled td,
tr.disabled th { 
    opacity: 0.4;
    cursor: not-allowed
}

tr.disabled.active td,  
tr.disabled.active th {  
    background-color: #FFF !important
}

tr.disabled a { 
    cursor: not-allowed;
    pointer-events: none;
}