
<li class="timeline-purple">
    <div class="timeline-time">
        <span class="time">Documentos financieros</span>
    </div>
    <div class="timeline-icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="timeline-body">
        <div class="timeline-body-head">
            <div class="timeline-body-head-caption">
                <span class="timeline-body-title">
                    Documentos financieros
                </span>
            </div>
        </div>
        <div class="timeline-body-content">
            <span class="font-grey-gallery">

                {% include('@ADIFContable/HistoricoOrdenPago/listado_documentos_financieros.html.twig') %}

            </span>
        </div>
        <div class="timeline-footer"></div>
    </div>
</li>