<button data-cuenta-presupuestaria-economica="{{cuentaPresupuestaria.cuentaPresupuestariaEconomica.id}}"
        data-tipo-asiento-presupuestario="{{ tipoAsientoPresupuestario }}"
        style="display: none"
        class="btn btn-xs btn-circle green-seagreen pull-left tooltips link-detalle-presupuestario" 
        data-original-title="Ver detalle">
    <i class="fa fa-search"></i>
</button>