{{ form_start(form, {'attr': {'id' : 'form_epe2' ,'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.cuentasContables) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.cuentasContables) }}
            </div>
        </div>
    </div>
</div>
</form>