<div>
    <div class="f-12 w-25 t-center" style="margin-top: 20mm;">
        <hr>Firma Subgerente de Compras
    </div>

    <div class="f-12 w-25 t-center" style="margin-top: 20mm; margin-left: 140mm;">
        <hr>Firma Gerente de Abastecimiento y Log&iacute;stica
    </div>
</div>