<td class="w-25 t-center"><img src="{{ app.request.getSchemeAndHttpHost() ~ '/images/trenes_argetntinos_infraestructura_logo.png' }}"  width="140"/></td>
<td class="bold" style="font-size: 9px; line-height: 150%; text-align: center;">
    <h1>Comprobante de retenci&oacute;n de {{ cr.regimenRetencion.tipoImpuesto.denominacion }}</h1>
</td>