<td class="w-25 t-center"><img src="{{ './images/logo_fase.png' }}"  width="100"/></td>
<td class="bold" style="font-size: 9px; line-height: 150%;">
    Ferrocarriles Argentinos Sociedad del Estado<br/>
    Av. Dr. Jos&eacute; Mar&iacute;a Ramos Mej&iacute;a 1302. Piso 6to. - Capital Federal<br/>
    CUIT 30-71525570-3
</td>