<td class="w-25 t-center"><img src="{{ './images/trenes_argetntinos_infraestructura_logo.png' }}"  width="140"/></td>
<td class="bold" style="font-size: 9px; line-height: 150%;">
    AV. RAMOS MEJIA 1302 - Capital Federal <br/>
    Tel&eacute;fono: 54 9 11 4318-3617 - Fax: 54 9 11 4318-8308 <br/>
    CUIT 30-71069599-3
</td>