{% extends '::base_reducido.html.twig' %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Detalles de la prioridad: <strong>{{ entity }}</strong>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>                
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Denominaci&oacute;n</label>
                        <div class="detalle_show">{{ entity.denominacionPrioridad }}</div>
                    </div>
                </div>                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cantidad de d&iacute;as</label>
                        <div class="detalle_show">{{ entity.cantidadDias }}</div>
                    </div>
                </div>                   
            </div>
            <div class="form-actions">
                <button type="button" class="btn default button-back" >
                    <i class="m-icon-swapleft"></i> Volver
                </button>
            </div>
        </div>
    </div>
{% endblock %}
