{% extends '::base.html.twig' %}  

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Concepto de venta general</div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-sm green tooltips" data-placement="right" data-original-title="Crear concepto de venta general" href=" {{ path( 'concepto_venta_general_new') }} ">
                                Crear concepto de venta general <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <table 
                        class="table table-bordered table-striped table-condensed flip-content dt-multiselect export-excel" 
                        id="table-conceptoventageneral"
                        dataexport-title="conceptoventageneral">
                        <thead>
                            <tr class="replace-inputs filter">
                                <th></th>
                                <th class="not-in-filter"></th>
                                <th>Denominaci&oacute;n</th>
                                <th>Descripci&oacute;n</th>
                                <th>Cuenta cr&eacute;dito</th>
                                <th>Cuenta ingreso</th>
                                <th class="not-in-filter"></th>
                            </tr>
                            <tr class="headers">
                                <th class="no-order entity_id"></th>
                                <th class="text-center table-checkbox no-order">
                                    <input type="checkbox" class="group-checkable" data-set="#table-conceptoventageneral .checkboxes" />
                                </th>
                                <th>Denominaci&oacute;n</th>
                                <th>Descripci&oacute;n</th>
                                <th>Cuenta cr&eacute;dito</th>
                                <th>Cuenta ingreso</th>
                                <th class="text-center no-order ctn_acciones">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/custom/contable/facturacion/conceptoventageneral/index.js') }}" ></script>

{% endblock %}
