/* Autocomplete */
.ui-corner-all { -moz-border-radius: 4px 4px 4px 4px; }
.ui-widget-content { color: #555; }
.ui-widget { /* font-family: Verdana, Arial, sans-serif;  */
font-size: 15px; }
.ui-autocomplete { cursor: default; position: absolute; border: 1px solid #CCC; }
.ui-menu .ui-menu-item { clear: left; float: left; margin: 0; padding: 0; width: 100%; }
.ui-menu .ui-menu-item a { display: block; padding: 5px; text-decoration: none; cursor: pointer; background-color: #F2F2F2; }
.ui-menu .ui-menu-item a:hover { display: block; padding: 5px; text-decoration: none; cursor: pointer; background-color: #ccc; }
.ui-widget-content a { color: #222222; }