
<div class="cleardiv row">
    <div class="col-md-12">

        <div class="form-group prototype-renglon-pedido" 
             data-prototype="{% filter escape %}{% include 'ADIFComprasBundle:PedidoInterno:prototype.renglon_pedido.html.twig' with {'renglon': form.renglonesPedidoInterno.vars.prototype} %}{% endfilter %}">
            {% for renglon in form.renglonesPedidoInterno %}
                {% include 'ADIFComprasBundle:PedidoInterno:prototype.renglon_pedido.html.twig' %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-sm green prototype-link-add-renglon-pedido tooltips" 
                   data-placement="right" data-original-title="Agregar rengl&oacute;n">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>