<div class="titulo t-center">Libro de Sueldos y Jornales - Ley 20744 - Art. 52</div>
<div class="direccion">AV. RAMOS MEJ&Iacute;A N&ordm; 1302 - Capital Federal</div>
<div class="cuil">30-71069599-3</div>
<div class="actividad">SERVICIOS COMPLEMENTARIOS PARA EL TRANSPORTE TERRESTRE</div>
<div class="periodo">Per&iacute;odo: {{ fecha_cierre_novedades|localizeddate('full','none',app.request.locale,null,'MMMM y')|upper }}</div>