
<h5>Detalles del pago</h5>

<table class="w-100 m-top" border="1" >
    <tr>
        <td style="vertical-align: top;">
            <table class="w-100 t-left" border="0">
                <tbody>
                    <tr>
                        <td class="f-12">Forma de pago</td>
                        <td class="bold f-12"></td>
                    </tr>
                    <tr>
                        <td class="f-12">Fecha</td>
                        <td class="bold f-12"></td>
                    </tr>
                    <tr>
                        <td class="f-12">Cuenta bancaria</td>
                        <td class="bold f-12"></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>