<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="label">{{ block('title') }}</h4>
            </div>
            <div class="modal-body">
                {% block body %}{% endblock %}
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="pull-right">
                    {% block confirmar %}
                        <button type="button" class="btn blue" id='modal_confirmar'>Confirmar</button>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
                
{% block javascripts %}{% endblock %}