<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Im&aacute;genes</legend>

    <div class="row">
        <div class="col-md-12">

            <div class="form-group prototype-fotos-ActivosLineales"
                 data-prototype="{% filter escape %}{% include 'ADIFInventarioBundle:ActivoLineal:prototype.datos_fotos.html.twig' with {'adjunto': form.fotos.vars.prototype} %}{% endfilter %}">
                 {% for foto in form.fotos %}
                     {% include 'ADIFInventarioBundle:ActivoLineal:prototype.datos_fotos.html.twig' with {'adjunto': foto } %}
                 {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-sm green-jungle
                       prototype-link-add-fotos-ActivosLineales tooltips">
                        Agregar archivo <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</fieldset>
