<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Atributos</legend>

    <div class="row">
        <div class="col-md-12">

            <table 
                class="table table-bordered table-striped table-condensed flip-content" 
                id="table-activolineal" >
                <thead>
                    <tr class="replace-inputs">
                        <th>Atributo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valorAtributo in entity.valoresAtributo %}
                        <tr class="replace-inputs">
                            <td>{{ valorAtributo.atributo.denominacion }}</td>
                            <td>{{ valorAtributo.denominacion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                
        </div>
    </div>
</fieldset>
