<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Inventarios</legend>
    {# Comentado se va usar a futuro
    <div class="row">
    	<div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.inventario.cuentaContable) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.inventario.cuentaContable) }}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.inventario.metodoValoracion) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.inventario.metodoValoracion) }}
                </div>
            </div>
        </div>
                
    </div>#}

</fieldset>