<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Inventarios</legend>
    <div class="row">
        <!--<div class="col-md-3">
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.inventario.metodoValoracion) }}
                    <div class="input-icon right">
                        <i class="fa"></i>
                        {{ form_widget(form.inventario.metodoValoracion) }}
                    </div>
            </div>
        </div>-->
    </div>
</fieldset>
