<fieldset class="form-section-fieldset">
        
    <legend class="form-section-legend">General</legend>
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Unidad de Medida de Inventario </label>
                <div class="detalle_show"> {{ entity.unidadMedida|default('-') }} </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Tipo de Envio</label>
                <div class="detalle_show"> {{ entity.tipoEnvio|default('-') }} </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Observaciones</label>
                <div class="detalle_show"> {{ entity.observacion|default('-') }} </div>
            </div>
        </div>
        
    </div>
    
</fieldset>