<fieldset class="form-section-fieldset">
        
    <legend class="form-section-legend">Inventarios</legend>
    {#<div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Cuenta Contable</label>
                <div class="detalle_show"> {{ entity.inventario.cuentaContable|default('-') }} </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Metodo de Valoracion</label>
                <div class="detalle_show"> {{ entity.inventario.metodoValoracion|default('-') }} </div>
            </div>
        </div>
    </div>#}
</fieldset>