<fieldset class="form-section-fieldset">
    <legend class="form-section-legend">Motivos de rechazo</legend>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Enviado al solicitante</label>
            <input type="text"  class=" form-control" disabled="disabled" value="{{ motivoRechazoInterno }}" style="height: auto;"><br>
        </div>
        <div class="form-group col-md-6">
            <label>Interno</label>
            <input type="text"  class=" form-control" disabled="disabled" value="{{ motivoRechazo }}" style="height: auto;"><br>
        </div>
    </div>
</fieldset>