<li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
        Seguridad <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('usuarios_index') }}">
                Usuarios
            </a>
        </li>
        <li>
            <a href="{{ path('fos_user_group_list') }}">
                Grupos
            </a>
        </li>
    </ul>
</li>