<li class="dropdown-submenu">
    <a href="">
        Transacciones bancarias
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('movimientobancario') }}">
                Movimiento bancario
            </a>
        </li>
        <li>
            <a href="{{ path('movimientoministerial') }}">
                Movimiento ministerial
            </a>
        </li>
    </ul>
</li>