<li class="dropdown-submenu">
    <a href="">
        P&oacute;lizas
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('aseguradoras') }}">Aseguradoras</a>
        </li>  
        <li>
            <a href="{{ path('tipo_cobertura') }}">Tipos de cobertura</a>
        </li>
        <li>
            <a href="{{ path('estado_poliza') }}">Estado p&oacute;lizas</a>
        </li>
        <li>
            <a href="{{ path('estado_revision_poliza') }}">Estado revisi&oacute;n p&oacute;lizas</a>
        </li>
    </ul>
</li>