<li class="dropdown-submenu">
    <a href="">
        Administraci&oacute;n de datos
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('cliente') }}">
                Clientes
            </a>
        </li>    
    </ul>
</li>
