<li class="dropdown-submenu">
    <a href="">
        Locaci&oacute;n de servicios
    </a>
    <ul class="dropdown-menu">
        {% if is_granted('ROLE_MENU_RRHH_CARGA_COMPROBANTE') %}
            <li>
                <a href="{{ path('comprobante_consultoria') }}">
                    Carga de comprobante
                </a>
            </li>
        {% endif %}
    </ul>
</li>
