<li class="dropdown-submenu">
    <a href="">
        Proveedores
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('aspectoevaluacion') }}">
                Aspectos de evaluaci&oacute;n
            </a>
        </li>
        <li>
            <a href="{{ path('estadoproveedor') }}">
                Estados de proveedor
            </a>
        </li>
        <li>
            <a href="{{ path('rubro') }}">
                Rubros
            </a>
        </li>        
        <li>
            <a href="{{ path('tipoactividad') }}">
                Tipos de actividad
            </a>
        </li>
    </ul>
</li>