
<fieldset class="form-section-fieldset">
    <legend class="form-section-legend">Datos comerciales</legend>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.tipoMoneda) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.tipoMoneda) }}
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="form-group">
                {{ form_label(form.cuentaContable) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.cuentaContable) }}
                </div>
            </div>
        </div>

        <div class="col-lg-offset-1">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <div class="group-icon">
                    <i class="fa"></i>
                    <button class="btn btn-sm green btn-search-cuenta-contable" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</fieldset>