<div class="row row_renglon_comprobante_nuevo" style="display: none;">
    <input type="text" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___idRenglonOrdenCompra" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][idRenglonOrdenCompra]" required="required" class="form-control ignore" value="" style="display: none;">
    <div class="col-md-2 comprobante">
        <div class="form-group">                                
            <div class="input-icon right">
                <i class="fa"></i>
                <input type="text" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___comprobanteCompra" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][comprobanteCompra]" class="form-control ignore" value="">
            </div>
        </div>
    </div>
    
    <input type="hidden" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___idRenglonComprobante" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][idRenglonComprobante]" class="form-control ignore" value="">
    <input type="hidden" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___idComprobante" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][idComprobante]" class="form-control ignore" value="">
    
    <div class="col-md-2 descripcion">
        <div class="form-group">                                
            <div class="input-icon right">
                <i class="fa"></i>
                <input type="text" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___descripcion" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][descripcion]" required="required" class="form-control ignore" value="">
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="left">
                <input type="text" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___cantidad" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][cantidad]" required="required" class="form-control currency ignore" value="">
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="left">
                <input type="text" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___precioUnitario" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][precioUnitario]" required="required" class="form-control currency ignore" value="">
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="input-icon right">
                <i class="fa"></i>
                <select id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___bonificacionTipo" 
                        sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][bonificacionTipo]" 
                        class="form-control ignore">                                            
                    <option value="porcentaje">porcentaje</option>
                    <option value="valor">valor</option>
                </select>
            </div>
        </div>
    </div>                        
    <div class="col-md-1">
        <div class="form-group">
            <div class="input-icon right">
                <i class="fa"></i>
                <input type="text" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___bonificacionValor" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][bonificacionValor]" required="required" class="form-control currency ignore" value="0">
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="input-icon right">
                <i class="fa"></i>
                <input type="text" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___neto" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][montoNeto]" required="required" class="form-control currency ignore" value="">
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="input-icon right">
                <i class="fa"></i>
                <select id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___alicuotaIva" 
                        sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][alicuotaIva]" 
                        class="form-control ignore"
                        required="required">
                    {% for choice_alicuota_iva in form.renglonesComprobante.vars.prototype.alicuotaIva.vars.choices %}
                        <option value="{{choice_alicuota_iva.data.id}}">{{choice_alicuota_iva.data.valor}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="input-icon right">
                <i class="fa"></i>
                <input type="text" id="adif_contablebundle_comprobantecompra_renglonesComprobante___name___montoIva" sname="adif_contablebundle_comprobantecompra[renglonesComprobante][__name__][montoIva]" required="required" class="form-control currency ignore" value="">
            </div>
        </div>
    </div>    
    <div class="col-md-1">
        <div class="form-group">
            <button class="btn btn-sm red renglon_comprobante_borrar">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
</div>
