<div class="row">
    <div class="col-md-6">
        <a id="agregar_renglon_adicional" class="btn btn-sm green-jungle tooltips" data-placement="right" data-original-title="Agregar adicional">
            Agregar adicional <i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<div class="row row_headers_renglon_adicional" style="display:none;margin-top: 5px;">
    <div class="col-md-3">
        <label class="control-label">Tipo</label>
    </div>
    <div class="col-md-2">
        <label class="control-label">Signo</label>
    </div>
    <div class="col-md-2">
        <label class="control-label">Tipo</label>
    </div>
    <div class="col-md-1">
        <label class="control-label">Valor</label>
    </div>
    <div class="col-md-1">
        <label class="control-label">Neto</label>
    </div>
    <div class="col-md-1">
        <label class="control-label">% IVA</label>
    </div>
    <div class="col-md-1">
        <label class="control-label">IVA</label>
    </div>
</div>

{% include('@ADIFContable/ComprobanteCompra/new.form_renglon_adicional.html.twig') %}

<div class="ctn_rows_renglon_adicional"></div>