<div class="div_ctn_seccion">
    <div class="btn btn-info btn-sm label_seccion">Observaciones</div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.observaciones) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.observaciones) }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div_ctn_seccion">
    <div class="btn btn-info btn-sm label_seccion">Total</div>
    <div class="row">
        <div class="col-md-6 pull-right">
            <div class="form-group">
                {{ form_label(form.total) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.total) }}
                </div>
            </div>
        </div>
    </div>
</div>
